---
title: Welcome to Middleman
---

#container

script#frag type="x-shader/x-fragment"
  == File.read('./source/js/shader/yoshizumi.frag')

script#vert type="x-shader/x-vertex"
  == File.read('./source/js/shader/yoshizumi.vert')

== javascript_include_tag  "main"

